<div data-role="header" data-position="fixed" id="base-header" class="base-header">
    <h2>{{headerTitle}}</h2>
    <a id="backBtn" style="color:#3388cc"><i class="fa fa-chevron-left"></i></a>
    <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal" style="vertical-align:middle;margin:5px;">
<!--        <a id="logoutBtn"><i class="fa fa-sign-out fa-2x" style="color:#fff"></i></a>-->
    </div>
</div>
<div style="text-align:center;margin-top:2%;"><img src="assets/img/logo3.png"></div>
<div data-role="content">{{{childTemplate}}}</div>