<div class="ui-content">
<div class="card">
<h3 style="text-shadow:none !important"><%= appRegNo %></h3>
<h4 id="ap-ref-num" style="text-shadow:none !important"></h4>
<h3 style="text-shadow:none !important"><%= dueDate %></h3>
<h4 id="ap-due-date" style="text-shadow:none !important"></h4>
<h3 style="text-shadow:none !important"><%= officeName %></h3>
<h4 id="ap-off-name" style="text-shadow:none !important"></h4>
</div>
    <a style="margin:auto !important; text-align:center !important;" id="btn-save" class="ui-btn green-btn ui-corner-all" type="hidden"><%= save %></a>
</div>