<div>
<h4 style="padding-top:1em">{{Name}}<div style="float:right;padding-right:1em"></div></h4>
<hr>
<br>
<div style="padding:.5em"><i class="fa fa-envelope fa-lg fa-fw"></i>&nbsp;&nbsp;{{EmailId}}<div style="float:right">
</div></div>
<div style="padding:.5em"><i class="fa fa-mobile fa-lg fa-fw"></i>&nbsp;&nbsp;{{MobileNo}}<div style="float:right">
</div></div>
<div style="padding:.5em"><i class="fa fa-building fa-lg fa-fw"></i>&nbsp;&nbsp;{{Address}}<div style="float:right">
</div></div>
</div>