<form id="forgot-password" class="ui-content">
    <label><%= mobile %></label>
    <input id="mobile-forgot" name="mobileNo" type="number" required>
    <a id="btn-submit-mobile" class="ui-btn green-btn ui-corner-all" style="margin : auto" type="hidden"><%= submit %></a>
        </form>
    <form id="forgot-password1" class="ui-content">
        <div id="disable-div">
        <label><%= otp %></label>
            <input id="otp-forgot" name="otp" type="text" required>
        <label><%= reset %></label>
            <input id="pwd-forgot" name="pswrd" type="password" required>
        <label><%= confirm %></label>
            <input id="pwd-confirm" name="pswd_confirm" type="password" required>
        
            <a id="btn-submit-pass" class="ui-btn green-btn ui-corner-all" style="margin : auto" type="hidden"><%= pwdchange %></a> 
            </div>
</form>