<div style="text-align:center;margin-top:5%;"><img src="assets/img/logo3.png"></div>
<div style="text-align:center;margin-top:3%;"><img src="assets/img/govLogo.png"></div>
<form class="ui-content">
    <h3><i class="fa fa-language fa-2x" style="color:#F1F1F1"></i>&nbsp;&nbsp;Select your language</h3>
    <fieldset data-role="controlgroup">
        <input name="radio-choice-t-6" id="radio-choice-english" value="english" type="radio">
        <label for="radio-choice-english">English</label>
        <input name="radio-choice-t-6" id="radio-choice-hindi" value="hindi" checked="checked" type="radio">
        <label for="radio-choice-hindi">हिन्दी</label>
    </fieldset>
    <a id="btn-start" class="ui-btn ui-corner-all green-btn" disabled="disabled">Continue to application</a>
</form>