<div style="padding:1em">
    <h4 style="padding-top:1.5em">{{greeting}}, &nbsp;{{fName}} {{lName}}</h4>
    <hr>
    <br>
    <div style="padding:1em"><i class="fa fa-envelope fa-lg fa-fw"></i>&nbsp;&nbsp;{{emailId}}</div>
    <div style="padding:1em"><i class="fa fa-mobile fa-lg fa-fw"></i>&nbsp;&nbsp;{{mobileNo}}</div>
    <div style="padding:1em"><i class="fa fa-language fa-lg fa-fw"></i>&nbsp;&nbsp;{{lang}}</div>
    <!--<a class="ui-btn" style="padding:1em" id="sync-btn"><i class="fa fa-refresh fa-lg fa-fw" id="syncIcon"></i>&nbsp;&nbsp;{{syncText}}</a>
<div style="float:right"><i class="fa fa-pencil-square-o"></i>
</div>
<div style="float:right"><i class="fa fa-pencil-square-o"></i>
</div>
<div style="float:right;padding-right:1em"><i class="fa fa-pencil-square-o"></i></div>
-->
    <!--<a class="ui-btn" style="padding:1em"><i class="fa fa-lock fa-lg fa-fw"></i>&nbsp;&nbsp;{{passwordChange}}</a>-->
</div>