<form id="service-form" class="ui-content">
    <div id="service-form-field-container"></div>
    <a id="btn-submit-service-data" class="ui-btn green-btn ui-corner-all">
        <%=submit %>
    </a>
</form>
<div id="preview-data" style="display:none;" class="ui-content">
    <div role="main">
        <ul id="preview-data-list" data-role="listview" data-inset="true"></ul>
    </div>
    <div>
        <a id="btn-edit-service-data" class="ui-btn blue-btn ui-corner-all" style="color:#fff"><%=edit %></a> 
        <a id="btn-confirm-submit-service-data" class="ui-btn green-btn ui-corner-all"><%=confirmsubmit %></a>
    </div>
</div>