<aside data-role="content" class="drawer-content">
    <section class="user-info" style="background:#068ceb; padding-top:10px">
        <div class="company-logo"></div>
    </section>
    <ul data-role="listview" id="menulist" class="slide-menu-list">
        <li data-icon="false"><a id="allservices" data-itemId="allservices" data-headerTitle="{{listItem2}}" class="side-menu-item"><i class="fa fa-indent fa-fw" style="padding-right:1em"></i>{{listItem2}}</a></li>
        <li data-icon="false"><a id="myapplications" data-itemId="myapplications" data-headerTitle="{{listItem3}}" class="side-menu-item"><i class="fa fa-tags fa-fw" style="padding-right:1em"></i>{{listItem3}}</a></li>
        <li data-icon="false"><a id="taxservices" data-itemId="taxservices" data-headerTitle="{{listItem5}}" class="side-menu-item"><i class="fa fa fa-pencil-square-o fa-fw" style="padding-right:1em"></i>{{listItem5}}</a></li>
        <li data-icon="false"><a id="searchcsc" data-itemId="searchcsc" data-headerTitle="{{listItem8}}" class="side-menu-item"><i class="fa fa-search fa-fw" style="padding-right:1em"></i>{{listItem8}}</a></li>
        <li data-icon="false"><a id="profile" data-itemId="profile" data-headerTitle="{{listItem6}}" class="side-menu-item"><i class="fa fa-cog fa-fw" style="padding-right:1em"></i>{{listItem6}}</a></li>
        <li data-icon="false"><a id="about" data-itemId="about" data-headerTitle="{{listItem7}}" class="side-menu-item"><i class="fa fa-info fa-fw" style="padding-right:1em"></i>{{listItem7}}</a></li>
    </ul>
</aside>